/* Define o estilo global da página */
*{
    margin: 0px; 
    font-family: 'Inter'; /* Define a fonte padrão */
}

/* Estiliza o logo */
#logo{
    margin: 60px 0px 0px 50px; 
}

/* Estiliza o título na parte superior */
#superior-title{
    margin: 50px 0px 0px 150px; 
}

/* Estiliza o texto da parte superior */
#superior-text{
    margin: 35px 0px 100px 150px; 
}

/* Estiliza o menu superior */
#menu-superior{
    background-image: url(./images/fundo-menusuperior.svg); /* Define imagem de fundo */
    background-size: cover; /* Faz a imagem cobrir toda a área */
    color: aliceblue; /* Define a cor do texto */
    padding-bottom: 100px;
}

/* Estiliza o menu informacional */
#menu-informacional{
    background-color: #EAECE5; /* Cor de fundo */
    display: grid; /* Usa o modelo de grid */
    grid-auto-flow: column; /* Organiza os elementos em colunas */
    columns: auto; /* Ajusta as colunas */
}

/* Estiliza os ícones */
.icone{
    margin: 50px 0px 50px 100px; 
    padding: 25px;
}

/* Estiliza os textos informacionais */
.textoinformacional{
    display: flex; /* Usa flexbox para alinhamento */
    align-items: center; /* Centraliza verticalmente */
}

/* Seção do vídeo */
#secao-video {
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

/* Estiliza o título do vídeo */
#titulo-video {
    color: #247BA0;
    margin-top: 50px;
}

/* Estiliza o texto do vídeo */
#texto-video {
    color: #383838;
}

/* Define o espaçamento do vídeo */
#video {
    margin: 50px 25px 50px 100px;
}

#carrosel{
    background-color: #247BA0;
    padding: 50px;
}


#titulo-carrosel{
    color: white;
    text-align: center;
    font-size: 25px;
}

#cards-carrosel{
    margin-top: 30px;
    display: grid;
    grid-auto-flow: column;
}

.card{
    margin-left: 50px;
}

.seta{
    margin-top: 30px;
    cursor: pointer;
}

#bruna{
    display: none;
}

.seta:hover{
    transform:translatey(-7px);
    transition-duration: 0.5s;
}  

#formulario{
    text-align: center;
}

#titulo-formulario{
    font-size: 25px;
    margin-top: 15px;
    color: #383838;
}

input{
    background-color: #EAECE5;
    width: 300px;
    height: 30px;
    margin: 10px;
    padding-left: 10px;
    border-radius: 5px;
    border: 0px solid #EAECE5;
}

button{
    background-color: #247BA0;
    color: white;
    font-weight: bolder;
    width: 250px;
    height: 35px;
    margin-bottom: 30px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #318fb8;
    color: aliceblue;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #0106176b;
    transition-duration: 0.5s;
}