/* Define o estilo global da página */
*{
    margin: 0px; 
    font-family: 'Inter'; /* Define a fonte padrão */
}

/* Estiliza o logo */
#logo{
    margin: 60px 0px 0px 50px; 
}

/* Estiliza o título na parte superior */
#superior-title{
    margin: 50px 0px 0px 150px; 
}

/* Estiliza o texto da parte superior */
#superior-text{
    margin: 35px 0px 100px 150px; 
}

/* Estiliza o menu superior */
#menu-superior{
    background-image: url(./images/fundo-menusuperior.svg); /* Define imagem de fundo */
    color: aliceblue; /* Define a cor do texto */
}

/* Estiliza o menu informacional */
#menu-informacional{
    background-color: #EAECE5; /* Cor de fundo */
    padding: 100px; /* Espaçamento interno */
    display: grid; /* Usa o modelo de grid */
    grid-auto-flow: column; /* Organiza os elementos em colunas */
    columns: auto; /* Ajusta as colunas */
}

/* Estiliza os ícones */
.icone{
    margin: 50px 0px 50px 100px; 
    padding: 25px;
}

/* Estiliza os textos informacionais */
.textoinformacional{
    display: flex; /* Usa flexbox para alinhamento */
    align-items: center; /* Centraliza verticalmente */
}