*{
    margin: 0px;
    font-family: 'inter';
}

#logo{
    margin-top: 50px;
    margin-left: 50px;
}

#superior-title{
    margin-left: 150px;
    margin-top: 50px;
}

#superior-text{
    margin-left: 150px;
    margin-top: 35px;
}

#menu-superior{
    background-image: url(./images/fundo-menusuperior.svg);
    color: aliceblue;
}

#menu-informacional{
    
}